src/main/resources/xml/severtrans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:st="http://www.severtrans.com"
    targetNamespace="http://www.severtrans.com" elementFormDefault="qualified"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">-->
    <xs:annotation>
        <xs:documentation>Схема severtrans</xs:documentation>
        <!--        <xs:appinfo>
            <jaxb:globalBindings>
                <jaxb:javaType name="java.util.Calendar" xmlType="xs:dateTime"
                               parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime"
                               printMethod="javax.xml.bind.DatatypeConverter.printDateTime"/>
            </jaxb:globalBindings>
        </xs:appinfo>
-->
    </xs:annotation>

    <xs:element name="Shell" type="st:Shell" xmlns="http://www.severtrans.com">
        <xs:annotation>
            <xs:documentation>Контейнер для всех сообщений</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="Shell">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="customerID" type="xs:int" minOccurs="1"/>
            <xs:element name="skuList" type="st:ListSKU" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Обновление SKU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="partStockRq" type="st:PartStockRq" minOccurs="0"/>
            <xs:element name="partStockRs" type="st:PartStockRs" minOccurs="0"/>
            <xs:element name="order" type="st:Order" minOccurs="0"/>
            <xs:element name="pickOrder" type="st:PickNotif" minOccurs="0"/>
            <xs:element name="shipmentNotif" type="st:ShipmentNotif" minOccurs="0"/>
            <xs:element name="deliveryNotif" type="st:DeliveryNotif" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Order">
        <xs:annotation>
            <xs:documentation>Заказ на поставку/отгрузку</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="guid" type="xs:string" minOccurs="0"/>
            <xs:element name="orderType" type="xs:boolean"/>
            <xs:element name="orderKind" type="xs:string"/>
            <xs:element name="orderNo" type="xs:string"/>
            <xs:element name="orderDate" type="xs:dateTime"/>
            <xs:element name="plannedDate" type="xs:dateTime"/>
            <xs:element name="contrCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>код контрагента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contrName" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>наименование контрагента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contrAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="licencePlate" type="xs:string"/>
            <xs:element name="driver" type="xs:string"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="orderLine" type="st:OrderLine" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OrderLine">
        <xs:sequence>
            <xs:element name="lineNumber" type="xs:int"/>
            <xs:element name="article" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="qty" type="xs:decimal"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="mark" type="xs:string" minOccurs="0"/>
            <xs:element name="mark2" type="xs:string" minOccurs="0"/>
            <xs:element name="mark3" type="xs:string" minOccurs="0"/>
            <xs:element name="lot" type="xs:string" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <!--         <ExpirationDate></ExpirationDate> -дата окончания срока годности
        <ProductionDate>29012020</ProductionDate> - дата производства
           -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SKU">
        <xs:annotation>
            <xs:documentation>Номенклатура</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="article" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="upc" type="xs:string" minOccurs="0"/>
			<xs:element name="uofm" type="xs:string" minOccurs="0"/>
			<xs:element name="storageLife" type="xs:int" minOccurs="0"/>
			<xs:element name="storageCondition" type="xs:string" minOccurs="0"/>
			<xs:element name="billingClass" type="xs:string" minOccurs="0"/>
			<xs:element name="division" type="xs:string" minOccurs="0"/>
			<xs:element name="weight" type="xs:decimal" minOccurs="0"/>
			<xs:element name="phvolume" type="xs:decimal" minOccurs="0"/>
			<xs:element name="upcList" type="st:upcList" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListSKU">
        <xs:annotation>
            <xs:documentation>Список номенклатуры</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sku" type="st:SKU" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PartStockRq">
        <xs:annotation>
            <xs:documentation>Запрос текущих остатков</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ts" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PartStockRs">
        <xs:annotation>
            <xs:documentation>Ответ на запрос текущих остатков</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ts" type="xs:dateTime"/>
            <xs:element name="line" type="st:PartStockLine" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PartStockLine">
        <xs:annotation>
            <xs:documentation>Артикул</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lineNumber" type="xs:int"/>
            <xs:element name="article" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="qty" type="xs:decimal"/>
            <xs:element name="upc" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PickNotif">
        <xs:annotation>
            <xs:documentation>Уведомление о завершении сборки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="guid" type="xs:string"/>
            <xs:element name="orderNo" type="xs:string"/>
            <xs:element name="orderDate" type="xs:dateTime"/>
            <xs:element name="plannedDate" type="xs:dateTime"/>
            <xs:element name="contrCode" type="xs:string" minOccurs="0"/>
            <xs:element name="contrName" type="xs:string" minOccurs="0"/>
            <xs:element name="contrAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="licencePlate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>номерной знак</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="driver" type="xs:string">
                <xs:annotation>
                    <xs:documentation>водитель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actualArrivalTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>фактическое время прибытия машины</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actualDeliveryTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>фактическое время отгрузки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pickLine" type="st:PickNotifLine" minOccurs="1" maxOccurs="unbounded"
            />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PickNotifLine">
        <xs:annotation>
            <xs:documentation>Уведомление о завершении сборки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lineNumber" type="xs:int"/>
            <xs:element name="article" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="qty" type="xs:decimal"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="mark" type="xs:string" minOccurs="0"/>
            <xs:element name="mark2" type="xs:string" minOccurs="0"/>
            <xs:element name="mark3" type="xs:string" minOccurs="0"/>
            <xs:element name="lot" type="xs:string" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="sn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cерийный номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
            <xs:element name="productionDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShipmentNotif">
        <xs:annotation>
            <xs:documentation>Уведомление о подтверждении отгрузки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="guid" type="xs:string"/>
            <xs:element name="orderNo" type="xs:string"/>
            <xs:element name="orderDate" type="xs:dateTime"/>
            <xs:element name="plannedDate" type="xs:dateTime"/>
            <xs:element name="contrCode" type="xs:string" minOccurs="0"/>
            <xs:element name="contrName" type="xs:string" minOccurs="0"/>
            <xs:element name="contrAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="licencePlate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>номерной знак</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="driver" type="xs:string">
                <xs:annotation>
                    <xs:documentation>водитель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actualArrivalTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>фактическое время прибытия машины</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actualDeliveryTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>фактическое время отгрузки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="orderLine" type="st:ShipmentNotifLine" minOccurs="1"
                maxOccurs="unbounded"/>

            <!--    <Date>29.01.2020</Date> - плановая дата отгрузки
    <VehicleFactlArrivalTime>29.01.2020</VehicleFactlArrivalTime> - фактическое время отгрузки
    <FactDeliveryDate>29.01.2020</FactDeliveryDate> - время прибытия машины
            -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShipmentNotifLine">
        <xs:annotation>
            <xs:documentation>Уведомление о подтверждении отгрузки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lineNumber" type="xs:int"/>
            <xs:element name="article" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="qty" type="xs:decimal"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="mark" type="xs:string" minOccurs="0"/>
            <xs:element name="mark2" type="xs:string" minOccurs="0"/>
            <xs:element name="mark3" type="xs:string" minOccurs="0"/>
            <xs:element name="lot" type="xs:string" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="sn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cерийный номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
            <xs:element name="productionDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeliveryNotif">
        <xs:annotation>
            <xs:documentation>Уведомление о подтверждении отгрузки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="guid" type="xs:string"/>
            <xs:element name="orderNo" type="xs:string"/>
            <xs:element name="orderDate" type="xs:dateTime"/>
            <xs:element name="plannedDate" type="xs:dateTime"/>
            <xs:element name="contrrCode" type="xs:string" minOccurs="0"/>
            <xs:element name="contrName" type="xs:string" minOccurs="0"/>
            <xs:element name="contrAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="licencePlate" type="xs:string">
                <xs:annotation>
                    <xs:documentation>номерной знак</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="driver" type="xs:string">
                <xs:annotation>
                    <xs:documentation>водитель</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actualArrivalTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>фактическое время прибытия машины</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actualDeliveryTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>фактическое время отгрузки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="orderLine" type="st:DeliveryNotifLine" minOccurs="1"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeliveryNotifLine">
        <xs:annotation>
            <xs:documentation>Уведомление о подтверждении поставки</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="lineNumber" type="xs:int"/>
            <xs:element name="article" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="qty" type="xs:decimal"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="mark" type="xs:string" minOccurs="0"/>
            <xs:element name="mark2" type="xs:string" minOccurs="0"/>
            <xs:element name="mark3" type="xs:string" minOccurs="0"/>
            <xs:element name="lot" type="xs:string" minOccurs="0"/>
            <xs:element name="comment" type="xs:string" minOccurs="0"/>
            <xs:element name="sn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cерийный номер</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expirationDate" type="xs:date" minOccurs="0"/>
            <xs:element name="productionDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="upcList">
		<xs:sequence>
			<xs:element name="upcAlter" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
